.#{$dropdown-prefix} {
    background-color: $dropdown-bg;
    border: $dropdown-border;
    border-radius: $dropdown-radius;
    display: none;
    position: absolute;
    margin-top: 1rem;
    width: fit-content;
    right: 1rem;
    z-index: 3;

    .btn {
        border: none;
        border-radius: 0;

        &:not(:last-child) {
            border-bottom: $dropdown-border;
        }
    }
}