.#{$logo-prefix} {
    background: $logo-full-bg;
    display: block;
    height: $logo-full-height;
    width: $logo-full-width;

    &--imago {
        background: $logo-small-bg;
        height: $logo-small-height;
        width: $logo-small-width;
    }
}