.#{$radio-prefix} {
    @include display-flex($justify: flex-start);
    gap: $gap-xs;
    margin-bottom: $radio-margin;

    label {
        margin: 0;
    }

    .form-#{$radio-prefix} {
        border: $input-border;
        border-radius: $radio-radius;
        height: $radio-size;
        width: $radio-size;

        @include hover {
            border-color: $input-hover-border-color;
        }

        @include focus {
            border-color: $input-focus-border-color;
            box-shadow: $input-focus-shadow;
        }

        &:checked {
            background-color: $radio-checked-bg;
            border: none;
            @include display-flex;

            &::after {
                background-color: $radio-checked-color;
                content: '';
                border-radius: $radio-radius;
                mask-size: contain !important;
                position: absolute;
                width: calc($radio-size/2);
                height: calc($radio-size/2);
            }
        }

        @include disabled {
            border-color: $input-disabled-color;
            background-color: $input-disabled-bg;
            cursor: not-allowed;
        }
    }
}