.form-#{$select-prefix} {
    background: $input-select-icon-img;
    background-size: $input-select-icon-size;
    border: $input-border;
    border-radius: $input-radius;
    color: $input-color;
    font-size: $input-font-size;
    display: block;
    padding: $input-padding;
    @include transition($transition-base);
    width: 100%;

    @include hover {
        border-color: $input-hover-border-color;
    }

    @include focus {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-shadow;
    }

    @include disabled {
        border-color: $input-disabled-color;
        background-color: $input-disabled-bg;
        cursor: not-allowed;
    }

    &.form-error {
        border-color: $input-error-color;
        color: $input-error-color;

        @include hover {
            border-color: $input-error-color;
        }

        @include focus {
            border-color: $input-error-color;
            box-shadow: $input-error-shadow;
        }
    }
}